@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@1,100&family=Varela&family=Varela+Round&display=swap');
body{
    background-color: whitesmoke;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 49px;
    padding: 0 10px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 50vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('pexels-moose-photos-1037992.jpg');
}

.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 5px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    width: 110%;
    margin: 7px 0;
    justify-items: space-between;
    align-items: center;
    border-radius: 30px;
}

.songItem img{
    width: 35px;
    margin: 0 20px;
    border-radius: 25px;
}

.timestamp{
    margin: 0 10px;
    text-align: end;
}

.timestamp.i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 4vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity is ease-in;
}